@model List<arriendojuegos.Models.ListModelLibro.Libro>

@{
    ViewBag.Title = "DetalleLibro";
}
@Styles.Render("~/Content/modal.css");
@Styles.Render("~/Content/Detallelibro.css");
@{foreach (var libro in Model)
    {
    <form>
        <input type="hidden" name="Idlibro" id="Idlibro_@libro.Id" value="@libro.Id" />
        <input type="hidden" name="totalproducto" id="totalproducto_@libro.Id" value="@libro.Precio" />
        <div class="product-container">
            <div class="product-image">
                <img src="data:image/jpeg;base64,@libro.Imagen" alt="Nombre del producto">
            </div>
            <div class="product-details">
                <div class="product-title">
                    <p>@libro.Nombre</p>
                </div>
                <div class="product-manufacturer">
                    <p>Autor: @libro.Autor</p>
                </div>
                <div class="product-manufacturer">

                    <p>ISBN: @libro.ISBN</p>
                </div>
                <div class="product-manufacturer">

                    <p>Generos: @libro.CategoriaNombres</p>
                </div>
                <div class="product-manufacturer">

                    <p>Tipo Libro: @libro.TipoLibro</p>
                </div>
                @if (libro.Stock > 0)
                {
                    <div class="product-stock">

                        <p>Disponibilidad: @libro.Stock</p>

                    </div>
                }
                else
                {
                    <div class="product-stock">

                        <p>Agotado</p>

                    </div>
                }

                <div class="product-description">
                    <p>@libro.Descripcion</p>
                </div>
                <div class="product-price">

                    <p>$@libro.Precio</p>
                </div>
                @if (Session["id"] != null && libro.Stock > 0)
                {
                    int iduser = (int)Session["id"];
                    <input type="hidden" name="idusuario" id="idusuario_@libro.Id" value="@iduser" />
                    <button class="btn-agregar" type="button" id="btnAgregarCarrito_@libro.Id">Agregar al carrito</button>
                }
                else
                {

                    <a href="@Url.Action("Login", "Usuario")">Inicia sesión, para agregar un producto al carrito</a>

                }





            </div>
        </div>
        <div class="row mt-4">
            @{
                <h3>Recomendaciones</h3>
                var recomendados = ViewBag.Recomendaciones as List<arriendojuegos.Models.ListModelLibro.Libro>;
                foreach (var libroRecomendado in recomendados)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <a href="@Url.Action("DetalleLibro","Libro",new {id = libroRecomendado.Id })" style="text-decoration:none;">
                                <img src="data:image/jpeg;base64,@libroRecomendado.Imagen" class="card-img-top" alt="Nombre del producto" style="width: 3cm; height: 4cm; object-fit: cover; ">
                                <div class="card-body">
                                    <h5 class="card-title">@libroRecomendado.Nombre</h5>
                                    <p class="card-text">@libroRecomendado.Autor</p>
                                    <p class="card-text">$@libroRecomendado.Precio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }


        </div>
    </form>
    }

    <div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="modalExitoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExitoLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnIrAPagar">Ir a Pagar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir Comprando</button>
                </div>
            </div>
        </div>
    </div>


}

<!--AGREGAR LIBROS CARRITO-->
<script type="text/javascript">

    $(document).ready(function () {

        $("[id^=btnAgregarCarrito_]").click(function () {

            var libroId = $(this).attr("id").split("_")[1];
            var Idlibro = $("#Idlibro_" + libroId).val();
            var idusuario = $("#idusuario_" + libroId).val();


            $.ajax({

                type: "POST",
                url: "@Url.Action("AgregarCarrito", "CarritoCompra")",
                data: { Idlibro: Idlibro, idusuario: idusuario },
                success: function (response) {
                    if (response.success) {
                        $("#modalExito .modal-body").text(response.message);
                        $("#modalExito .modal-title").text("!Éxito¡");
                        $("#btnIrAPagar, #btnSeguirComprando").show();
                    }
                    else {
                        $("#modalExito .modal-body").text(response.message);
                        $("#modalExito .modal-title").text("Error");
                        $("#modalExito .modal-header").addClass("error");
                        $("#modalExito .modal-content").addClass("error");
                        $("#btnIrAPagar, #btnSeguirComprando").hide();

                    }
                    $("#modalExito").modal("show");
                },

            });

        });
        $("#btnIrAPagar").click(function () {

            window.location.href = "@Url.Action("ResumenAlquiler", "CarritoCompra", new { idusuario = (int)(Session["id"] ?? 0) })";
        });
        $("#btnSeguirComprando").click(function () {

            $("#modalExito").modal("hide");
        });
    });

</script>


