@model List<arriendojuegos.Models.ListModelLibro.Libro>
@{
    ViewBag.Title = "DetalleLibro";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .product-container {
        display: flex;
        max-width: 1200px;
        margin: 50px auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        flex: 1;
        padding: 20px;
    }

        .product-image img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    .product-details {
        flex: 1;
        padding: 20px;
    }

    .product-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-description {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }

    .product-price {
        font-size: 18px;
        color: #e44d26;
        font-weight: bold;
    }

    .product-manufacturer {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .product-stock {
        font-size: 16px;
        margin-bottom: 10px;
        color: #e44d26; /* Puedes ajustar el color según tu diseño */
    }
</style>
@Styles.Render("~/Content/modal.css");
@{foreach (var libro in Model)
    {
        <form>
            <input type="hidden" name="Idlibro" id="Idlibro_@libro.Id" value="@libro.Id" />
            <input type="hidden" name="totalproducto" id="totalproducto_@libro.Id" value="@libro.Precio" />
            <div class="product-container">
                <div class="product-image">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(libro.Byteimagen)" alt="Nombre del producto">
                </div>
                <div class="product-details">
                    <div class="product-title">
                        <p>@libro.Nombre</p>
                    </div>
                    <div class="product-manufacturer">
                        <p>Autor: @libro.Autor</p>
                    </div>
                    <div class="product-manufacturer">

                        <p>ISBN: @libro.ISBN</p>
                    </div>
                    <div class="product-manufacturer">

                        <p>Generos: @libro.CategoriaNombres</p>
                    </div>
                    <div class="product-stock">

                        <p>Disponibilidad: @libro.Stock</p>
                    </div>
                    <div class="product-description">
                        <p>@libro.Descripcion</p>
                    </div>
                    <div class="product-price">

                        <p>$@libro.Precio</p>
                    </div>
                    @if (Session["id"] != null)
                    {
                        int iduser = (int)Session["id"];
                        <input type="hidden" name="idusuario" id="idusuario_@libro.Id" value="@iduser" />
                        <button type="button" id="btnAgregarCarrito_@libro.Id">Agregar al carrito</button>
                    }
                    else
                    {

                        <a href="@Url.Action("Login", "Usuario")">Inicia sesión, para agregar un producto al carrito</a>

                    }

                </div>
            </div>
        </form>
    }

    <div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="modalExitoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExitoLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>


}

<!--AGREGAR LIBROS CARRITO-->
<script type="text/javascript">

    $(document).ready(function () {

        $("[id^=btnAgregarCarrito_]").click(function () {

            var libroId = $(this).attr("id").split("_")[1];
            var Idlibro = $("#Idlibro_" + libroId).val();
            var idusuario = $("#idusuario_" + libroId).val();
            var totalproducto = $("#totalproducto_" + libroId).val();

            $.ajax({

                type: "POST",
                url: "@Url.Action("AgregarCarrito", "CarritoCompra")",
                data: { Idlibro: Idlibro, idusuario: idusuario, totalproducto: totalproducto },
                success: function (response) {
                    if (response.success) {
                        $("#modalExito .modal-body").text(response.message);
                        $("#modalExito .modal-title").text("!Éxito¡");
                    }
                    else {
                        $("#modalExito .modal-body").text(response.message);
                        $("#modalExito .modal-title").text("Error");
                        $("#modalExito .modal-header").addClass("error");
                        $("#modalExito .modal-content").addClass("error");
                    }
                    $("#modalExito").modal("show");
                },

            });

        });

    });

</script>


