@model List<arriendojuegos.Models.ListModelLibro.Libro>
@{
    ViewBag.Title = "Home Page";

}
<div class="content">
    <div class="banner-container">
        <div class="banner" id="banner">

            <img src="~/imagenes/banner-3544296_1280.jpg" alt="Imagen 1" style="width: 100%;">


        </div>

    </div>
    @if (Session["id"] != null)
    {
        if ((int)Session["rol"] == 1)
        {
            <!-- Sección: Para ti -->
            var recomendaciones = ViewBag.Recomendaciones as List<arriendojuegos.Models.ListModelLibro.Libro>;

            if (recomendaciones != null)
            {
                <div class="section">

                    <h2 style="font-size:30px;">Te Podrian Gustar</h2>
                    <div class="product-container">
                        <div class="product">

                            @foreach (var recomendacion in recomendaciones)
                            {
                                <div class="product-item">
                                    <a href="@Url.Action("DetalleLibro", "Libro", new {id= recomendacion.Id})" style="text-decoration:none;">
                                        <img src="data:image/jpeg;base64,@recomendacion.Imagen" alt="Producto 1">
                                        <h3>@recomendacion.Nombre</h3>
                                        <p>@recomendacion.Autor</p>
                                        <p class="price">$@recomendacion.Precio</p>
                                    </a>
                                </div>

                            }
                        </div>
                    </div>


                </div>


            }


        }


    }

    <div class="section">
        <h2 style="font-size:30px;">Más Alquilados</h2>
        <div class="product-container">
            <div class="product">

                @{
                            var populares = ViewBag.Populares as List<arriendojuegos.Models.ListModelLibro.Libro>;

                            foreach (var libro in populares)
                            {
                                
                            <!-- Sección: POpulares -->
                            <div class="product-item">
                                <a href="@Url.Action("DetalleLibro","Libro", new {id = libro.Id })" style="text-decoration:none;">
                                    <img src="data:image/jpeg;base64,@libro.Imagen" alt="Producto 5">
                                    <h3>@libro.Nombre</h3>
                                    <p>@libro.Autor</p>
                                    <p class="price">$@libro.Precio</p>
                                </a>

                            </div>
                        
                            }
                }
            </div>
        </div>
    </div>


    <div class="section">
        <h2 style="font-size:30px;">Novedades</h2>
        <div class="product-container">
            <div class="product">

                @{
                    int count = 0;
                    foreach (var libro in Model)
                    {
                        if (libro.Anio == 2023 || libro.Anio == 2022)
                        {
                            <!-- Sección: Novedades -->
                            <div class="product-item">
                                <a href="@Url.Action("DetalleLibro","Libro", new {id = libro.Id })" style="text-decoration:none;">
                                    <img src="data:image/jpeg;base64,@libro.Imagen" alt="Producto 5">
                                    <h3>@libro.Nombre</h3>
                                    <p>@libro.Autor</p>
                                    <p class="price">$@libro.Precio</p>
                                </a>

                            </div>
                            count++;
                            if (count == 4)
                            {
                                break;
                            }

                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="section">
        <h2 style="font-size:30px;">Libros fisicos</h2>
        <div class="product-container">
            <div class="product">

                @{
                    int counta = 0;
                    foreach (var libro in Model)
                    {
                        if (libro.TipoLibro == "Fisico")
                        {
                            <!-- Sección: Novedades -->
                            <div class="product-item">
                                <a href="@Url.Action("DetalleLibro", "Libro", new {id=libro.Id})" style="text-decoration:none;">
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(libro.Byteimagen)" alt="Producto 5">
                                    <h3>@libro.Nombre</h3>
                                    <p>@libro.Autor</p>
                                    <p class="price">$@libro.Precio</p>
                                </a>

                            </div>
                            counta++;
                            if (counta == 4)
                            {
                                break;
                            }

                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="section">
        <h2 style="font-size:30px;">Libros Digitales</h2>
        <div class="product-container">
            <div class="product">

                @{
                    int countad = 0;
                    foreach (var libro in Model)
                    {
                        if (libro.TipoLibro == "Digital")
                        {
                            <!-- Sección: Novedades -->
                            <div class="product-item">
                                <a href="@Url.Action("DetalleLibro", "Libro", new {id=libro.Id})" style="text-decoration:none;">
                                    <img src="data:image/jpeg;base64,@libro.Imagen" alt="Producto 5">
                                    <h3>@libro.Nombre</h3>
                                    <p>@libro.Autor</p>
                                    <p class="price">$@libro.Precio</p>
                                </a>

                            </div>
                            countad++;
                            if (countad == 4)
                            {
                                break;
                            }

                        }
                    }
                }
            </div>
        </div>
    </div>
    <!-- Sección: Mejores Evaluados
    <div class="section">
        <h2  style="font-size:30px;">Mejores Evaluados</h2>
        <div class="product">
            <div class="product-item">
                <img src="" alt="Producto 6">
                <h3>Producto 6</h3>
                <p>Descripción del producto 6</p>
                <p class="price">$XX.XX</p>
            </div>
        </div>
    </div>-->
</div>




