<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/combined-styles.css");
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezCdBI9ZtG4JNQ6TpRlC+gGqmnrvZlU5i8yO0o2/Jm6YXSQ5JGZnXC/8CVW6K/iS" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1><a href="@Url.Action("Index","Home")"><i class="material-icons">menu_book</i> AlquileBook</a></h1>
        <form action="@Url.Action("FilterBook","Libro")" method="get">
            <div class="search-bar">
                <input id="txtBusqueda" name="nombre" type="text" placeholder="Buscar...">

                <button id="btnBuscar" type="submit"><i class="material-icons">search</i></button>
            </div>
        </form>
        <div class="cart-profile">
            <span><i class="material-icons">shopping_cart</i></span>
            <span id="profile-icon"><i class="material-icons">person</i></span>
            <div id="profile-menu"  class="submenu" style="border-radius: 10px; color:red">
                @if (Session["nombre"] != null)
                {
                    int id = (int)Session["id"];
                    <a href="@Url.Action("Update","Usuario",new {id})">Hola @Session["nombre"]</a>
                    <a href="#">Visualizar Perfil</a>
                    <a href="@Url.Action("Login","Usuario")">Cerrar Sesión</a>
                }

                else
                {
                    <a href="@Url.Action("Login","Usuario")">Iniciar Sesión</a>
                }

            </div>
        </div>
    </header>
    <div id="cart-content" style="border-radius: 10px;" class="submenu">

    </div>

    <nav>
        @if (Session["rol"] != null)
        {
            int rol = (int)Session["rol"];
            if (rol == 2)
            {
                <a href="#">
                    Mantenimiento
                </a>
                <div class="submenu">
                    <a href="@Url.Action("Registrar","Libro")">Registrar</a>
                    <a href="@Url.Action("Libros","Libro")">Visualizar/editar</a>
                </div>

            }


        }
        <div>
            <a href="#">
                Tipos de Libros
            </a>
            <div class="submenu">
                <a href="@Url.Action("FilterBook","Libro",new { tipolibro = "Fisico"})">Físico</a>
                <a href="@Url.Action("FilterBook","Libro",new { tipolibro = "Digital"})">Digital</a>
            </div>

        </div>
        <a href="#">
            Categorías
        </a>
        <div class="submenu">
            @{
                var categoria = ViewBag.Categorias as List<arriendojuegos.Models.ListModelLibro.Categoria>;
                foreach (var i in categoria)
                {
                    <a href="@Url.Action("FilterBook","Libro",new { idcategoria = i.Id})">@i.Nombre</a>
                }

            }

        </div>

        <a href="#">
            Novedades
        </a>
        <div class="submenu">
            <a href="@Url.Action("FilterBook","Libro",new { anio = 2023})">2023</a>
            <a href="@Url.Action("FilterBook","Libro",new { anio = 2022})">2022</a>
        </div>

        <a class="expander"></a>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <div class="content">

        @RenderBody()
    </div>

    <!-- Resto del contenido -->
    <!-- ... -->
    @Scripts.Render("~/Scripts/layout.js");

    <script>
        $(document).ready(function () {
            // Manejar clic en el icono de perfil
            $("#profile-icon").click(function (e) {
                var iconPosition = $("#profile-icon").offset();
                $("#profile-menu").css({
                    top: iconPosition.top + $("#profile-icon").outerHeight() + 10,
                    left: iconPosition.left - 110
                });
                $("#profile-menu").toggleClass("show-menu");
                $("#cart-content").removeClass("show-menu");
                e.stopPropagation(); // Evitar que el evento de clic se propague al documento
            });

            // Manejar clic en el icono del carrito
            $(".cart-profile").click(function (e) {
                var cartPosition = $(".cart-profile").offset();
                $("#cart-content").css({
                    top: cartPosition.top + $(".cart-profile").outerHeight() + 10,
                    left: cartPosition.left - 150
                });
                $("#cart-content").toggleClass("show-menu");
                $("#profile-menu").removeClass("show-menu"); // Ocultar el menú de perfil
                e.stopPropagation();
                // Llenar el carrito con productos (puedes personalizar esto según tus necesidades)
                
                
            });
        });
        $(document).click(function (e) {
            if (!$(e.target).closest('#cart-content, .cart-profile').length) {
                $("#cart-content").removeClass("show-menu");
            }
        });
        // Ocultar el menú al hacer clic fuera de él
        $(document).click(function (e) {
            if (!$(e.target).closest('#profile-menu, #profile-icon').length) {
                $("#profile-menu").removeClass("show-menu");
            }
        });
    </script>



    <!--Mostrar  y eliminar producto carrito-->
    <script>

 var id = parseInt("@Session["id"]", 10);

function cargarCarrito() {
    $.ajax({
        url: "@Url.Action("CargarCarrito", "CarritoCompra")" + "?id=" + id,
        type: 'GET',
        dataType: 'json',
        success: function (response) {
            if (response.success) {
                $("#cart-content").html("");
                $("#cart-content").append('<h3 style="font-family: Cambria, Cochin, Georgia, Times, \'Times New Roman\', serif;">Carrito de Alquiler</h3>');
                $.each(response.carrito, function (index, producto) {
                    var imagenBase64 = btoa(String.fromCharCode.apply(null, producto.imagen));
                    $("#cart-content").append(
                        `
                        <div class="cart-item">
                            <img src="data:image/jpeg;base64,${imagenBase64}" alt="Producto en el carrito">
                            <h2 style="font-size: 16px;margin-bottom: 10px;">${producto.NOMBRELIBRO}</h4>
                            <p class="price">$${producto.PRECIOLIBRO}</p>
                            <button style="background:red;" class="remove-item" data-index="${index}">
                            <i class="material-icons">clear</i>
                                </button>
                        </div>
                        `
                    );
                });
                $("#cart-content").append(
                    `
                <a href="@Url.Action("ResumenAlquiler", "CarritoCompra", new { idusuario = (int)(Session["id"] ?? 0) })" style="background-color: red;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                display: block;
                border-radius: 5px;
                margin-top: 10px;">Realizar el Alquiler</a>
                `
                );
                //ELIMINAR LIBRO CARRITO
                $("#cart-content").on("click", ".remove-item", function () {
                    var indexToRemove = $(this).data("index");
                $.ajax({

                    url: "@Url.Action("EliminarLibroCarrito","CarritoCompra")",
                    type: 'POST',
                    data: { idlibro: response.carrito[indexToRemove].Id_Libro, idusuario: id },
                    success: function (response) {
                        if (response.success) {
                            cargarCarrito();
                        }
                        else {
                            console.error(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al eliminar el libro del carrito:", xhr.responseText);
                    }

                });


            });
            } else {
                console.error(response.message);
            }
        },
        error: function (xhr, status, error) {
            console.error("Error al cargar el carrito:", error);
        }


    });
}
        $(document).ready(function () {
            cargarCarrito();
        });
    </script>

</body>
</html>
